.card {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-thumb {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.card-thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  transition: opacity 250ms var(--timing-fn);
}

.card:hover .card-thumb::before {
  opacity: 1;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: filter 250ms var(--timing-fn);
}

.card:hover .card-img {
  filter: blur(4px);
}

.share-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  transform: translateY(-100%);
  transition: transform 250ms var(--timing-fn);
}

.card:hover .share-actions {
  transform: translateY(0);
  transition: transform 250ms var(--timing-fn) 250ms;
}

.edit-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-fn);
}

.card:hover .edit-actions {
  transform: translateY(0);
  transition: transform 250ms var(--timing-fn) 500ms;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  padding: 8px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.card-content {
  padding: 12px;
}

.card-title {
  margin-bottom: 10px;
}
