.heading {
  margin: 0;
  /* background-color: #ccc; */
  text-align: center;
}

.heading::before,
.heading::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 10px;
  border-radius: 4px;
  background-color: tomato;

  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.heading:hover::before,
.heading:hover::after {
  transform: scaleX(1);
}

.heading::before {
  margin-bottom: 20px;
  background-image: repeating-linear-gradient(
    -45deg,
    green 10px,
    green 20px,
    yellow 20px,
    yellow 30px
  );
}

.heading::after {
  margin-top: 20px;
  background-image: repeating-linear-gradient(
    45deg,
    red 10px,
    red 20px,
    blue 20px,
    blue 30px
  );
}
