:root {
  --accent-color: tomato;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #212121;
  line-height: 1.5;
}

.site-nav .link {
  color: #212121;
  font-weight: 700;
  text-decoration: none;
}

.site-nav .link.is-current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

a[href^="https://vimeo.com"]
{
  color: var(--accent-color);
}

a[href^="https://youtube.com"]
{
  color: green;
}

a[href*="/playlist"] {
  color: orange;
}

.text-1 {
  font-family: "Amaranth";
  font-style: italic;
}

.text-2 {
  font-family: "Amaranth";
  font-weight: 700;
  font-style: italic;
}
